.header {
    align-items: center;
    justify-content: center;
    background-color: $backgroundColor;

    nav {
        padding: 10px 50px;
        position: fixed;
        width: 100%;
    }

    &__logo {
        img {
            vertical-align: middle;
            width: $siteLogoSize;
            height: $siteLogoSize;
            margin-right: 50px;
        }
    }

    &__links {
        a {
            font-size: $desktop32TextSize;
            font-weight: bold;
            color: $headerElemColor;

            &:not(:last-child) {
                margin-right: 50px;
            }

            img {
                vertical-align: middle;
                width: $headerIconsSize;
                height: $headerIconsSize;
            }
        }
    }
}
