html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
  background-color: #000214;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(95, 202, 225, 0.65);
  border-radius: 12px;
  color: rgba(95, 202, 225, 0.65);
  padding: 20px;
  font-size: calc(0.1rem + 1.5vw);
}

button a,
button a:visited,
button a:hover {
  color: rgba(95, 202, 225, 0.65);
}

.flex {
  background-color: #000214;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 939px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 940px) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000214;
}

.header nav {
  padding: 10px 50px;
  position: fixed;
  width: 100%;
}

.header__logo img {
  vertical-align: middle;
  width: calc(1.2rem + 3.2vw);
  height: calc(1.2rem + 3.2vw);
  margin-right: 50px;
}

.header__links a {
  font-size: calc(0.1rem + 1.5vw);
  font-weight: bold;
  color: #ffffff;
}

.header__links a:not(:last-child) {
  margin-right: 50px;
}

.header__links a img {
  vertical-align: middle;
  width: calc(1.2rem + 2.2vw);
  height: calc(1.2rem + 2.2vw);
}

.hello {
  padding: 160px 50px;
}

.hello h2 {
  font-weight: bold;
  font-size: calc(0.1rem + 3.3vw);
  margin: 0;
  color: #5fcae1;
}

.hello h1 {
  font-size: calc(0.1rem + 6.6vw);
  margin: 0;
  color: #ffffff;
}

.hello p {
  font-size: calc(0.1rem + 3.7vw);
  margin: 0;
  color: rgba(255, 255, 255, 0.45);
}

.hello__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.hello__row span {
  font-size: calc(0.1rem + 2vw);
  color: rgba(255, 255, 255, 0.45);
}

@media (max-width: 939px) {
  .hello-mobile {
    padding: 50px 0;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hello-mobile h2 {
    font-size: calc(0.1rem + 4.95vw);
    padding-bottom: 250px;
  }
  .hello-mobile h1 {
    padding-bottom: 35px;
  }
  .hello-mobile p {
    padding-bottom: 150px;
  }
  .hello-mobile .hello__row {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: auto;
    max-width: 65%;
  }
  .hello-mobile .hello__row a {
    font-size: calc(0.1rem + 4.95vw);
  }
  .hello-mobile .hello__row span {
    padding-top: 110px;
    font-size: calc(0.1rem + 3.3vw);
  }
}

.personal {
  padding: 140px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal h1 {
  font-weight: bold;
  font-size: calc(0.1rem + 3.7vw);
  color: #5fcae1;
}

.personal__about_me_info p {
  font-size: calc(0.1rem + 1.5vw);
  color: #909090;
}

.personal__about_me_image {
  vertical-align: middle;
  padding: 0px 30px;
  max-width: calc(0.1rem + 26vw);
  max-height: calc(0.1rem + 23.4vw);
}

.personal__about_me_skills {
  margin: 0;
}

.personal__about_me_skills_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(0.1rem + 3.8vw))[6];
      grid-template-columns: repeat(6, calc(0.1rem + 3.8vw));
  -ms-grid-rows: (calc(0.1rem + 4.3vw))[2];
      grid-template-rows: repeat(2, calc(0.1rem + 4.3vw));
  gap: calc(0.1rem + 1vw) calc(0.1rem + 1vw);
}

.personal__about_me_skills_grid img {
  max-width: calc(0.1rem + 3.8vw);
  max-height: calc(0.1rem + 4.3vw);
}

@media (max-width: 939px) {
  .personal-mobile {
    padding: 115px 15px 15px 0;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .personal-mobile .personal__about_me_image {
    max-width: calc(10rem + 26vw);
    max-height: calc(10rem + 23.4vw);
  }
  .personal-mobile h1 {
    font-size: calc(0.1rem + 4.95vw);
  }
  .personal-mobile p {
    font-size: calc(0.5rem + 1.8vw);
  }
  .personal-mobile .personal__about_me_skills_grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (calc(3rem + 3.5vw))[3];
        grid-template-columns: repeat(3, calc(3rem + 3.5vw));
    -ms-grid-rows: none;
        grid-template-rows: none;
    gap: 30px;
  }
  .personal-mobile .personal__about_me_skills_grid img {
    max-width: calc(3rem + 3.5vw);
    max-height: calc(3rem + 4.3vw);
  }
}

.projects {
  padding: 160px 50px;
  display: inline-block;
}

.projects h1 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: calc(0.1rem + 3.7vw);
  color: #5fcae1;
}

.projects__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0px;
}

.projects__one a {
  max-width: 50%;
}

.projects__one_card {
  padding: 20px;
  background: #040720;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 53px;
  text-align: center;
}

.projects__one_card p {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: calc(0.1rem + 2vw);
  color: #ffffff;
}

.projects__one_card span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  margin: 0;
  font-size: calc(0.1rem + 1.5vw);
  color: #909090;
}

.projects__one img {
  padding: 5px;
  max-width: 50%;
}

@media (max-width: 939px) {
  .projects-mobile {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 15px;
  }
  .projects-mobile h1 {
    padding-top: 200px;
    padding-bottom: 105px;
    font-size: calc(0.5rem + 4.1vw);
  }
  .projects-mobile a {
    max-width: 100%;
  }
  .projects-mobile p {
    font-size: calc(0.1rem + 4.95vw);
  }
  .projects-mobile span {
    font-size: calc(0.1rem + 3.3vw);
  }
  .projects-mobile .projects__one {
    padding-bottom: 60px;
  }
}

.footer {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: center;
}

.footer h1 {
  margin: 0;
  padding-bottom: 60px;
  font-weight: bold;
  font-size: calc(0.1rem + 3.7vw);
  color: #5fcae1;
}

.footer p {
  margin: 0;
  padding-bottom: 60px;
  font-weight: bold;
  font-size: calc(0.1rem + 3.7vw);
  color: #ffffff;
}

.footer span {
  text-align: center;
  font-size: calc(0.1rem + 1.5vw);
  color: #909090;
}

.footer .button {
  padding: 60px;
}

@media (max-width: 939px) {
  .footer-mobile h1,
  .footer-mobile p {
    font-size: calc(0.1rem + 4.95vw);
    padding-bottom: 60px;
  }
  .footer-mobile h1 {
    padding-top: 200px;
  }
  .footer-mobile span {
    font-size: calc(0.5rem + 1.8vw);
  }
  .footer-mobile a {
    font-size: calc(0.1rem + 4.95vw);
  }
  .footer-mobile__social {
    padding-top: 60px;
  }
  .footer-mobile__social a:not(:last-child) {
    margin-right: 50px;
  }
  .footer-mobile__social a img {
    vertical-align: middle;
    width: calc(2.2rem + 2.2vw);
    height: calc(2.2rem + 2.2vw);
  }
}
/*# sourceMappingURL=style.css.map */